# Bigbasket Support Confidence and Lift

In [2]:
import pandas as pd
from apyori import apriori

In [8]:
df = pd.read_excel("IMB575-XLS-ENG.xlsx")
df.head()

   Member    Order       SKU        Created On   Description
0  M09736  6468572  34993740  22-09-2014 22:45  Other Sauces
1  M09736  6468572  15669800  22-09-2014 22:45       Cashews
2  M09736  6468572  34989501  22-09-2014 22:45    Other Dals
3  M09736  6468572   7572303  22-09-2014 22:45       Namkeen
4  M09736  6468572  15669856  22-09-2014 22:45         Sugar

In [12]:
df_grouped = df.groupby('Order').agg({'Description': lambda x: list(set(x))}).reset_index()
df_grouped = df_grouped.rename(columns={'Description': 'Items'})
df_grouped.head()

     Order                                              Items
0  6422558  [Health Drinks, Sugar, Mosquito Repellent, Roo...
1  6422636  [Beans, Toor Dal, Sunflower Oils, Brinjals, Go...
2  6423338  [Sooji & Rava, Beans, Toor Dal, Almonds, Cashe...
3  6423534      [Cookies, Facial Tissues, Cakes, Organic F&V]
4  6423959  [Other Dals, Namkeen, Other Sweets, Sunflower ...

In [28]:
# Remove the transaction ID column
transactions = df_grouped['Items']

# # Convert transactions to a list of lists
transaction_list = transactions.tolist()

associations = apriori(transaction_list, min_support = 0.00030, min_confidence = 0.05, min_lift = 3, max_length = 2)

In [33]:
print(associations.head())

AttributeError: 'generator' object has no attribute 'head'